* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.flex-container {

	min-height: 100vh;
	overflow: hidden;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;

	.flex-item {
		flex: 100%;
		min-height: 100vh;
		//overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width: 1200px) {
			height: 100vh;
			overflow: hidden;
			flex: 50%;
		}
	}
}

.responsive-img {
	max-width: 100%;
	height: auto;
	display: block;
}

.headers {

	font-family: $Montserrat;
	font-weight: 700;
	color: $dark-gray;
	text-transform: uppercase;
	font-size: 19px;
	margin: 0 0 15px;

	@media (min-width: 480px) {
		font-size: 20px;
	}
	@media (min-width: 768px) {
		font-size: 22px;
	}

	@media (min-width: 1200px) {
		font-size: 22px;
		line-height: 30px;
		margin: 0 0 30px;
	}
}

.p {
	color: $light-gray;
	font-family: $PT-Sans;
	margin: 0 0 20px;

	font-size: 11px;
	line-height: 24px;

	@media (min-width: 480px) {
		font-size: 12px;
		line-height: 26px;
	}
	@media (min-width: 768px) {
		font-size: 13px;
		line-height: 28px;
	}
	@media (min-width: 1200px) {
		font-size: 14px;
		line-height: 30px;
	}
}

.btn-accent {
	background: $primary-accent;
	color: $white;
	cursor: pointer;
	border: none;
	width: 160px;
	height: 42px;
	text-align: center;
	text-transform: uppercase;
	font-family: $Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 20px;
	transition:0.3s, ease-out;
	padding: 0;

	&:hover,&:focus,&:focus {
		background: darken($primary-accent, 30%);
	}
}

a:link,a:focus,a:visited,a:active {
	text-decoration: none;
	color: $light-gray;
}

// background-image
.bg-cover {
	height: 100vh;
	width: 100%;
	background: $primary-accent center/cover no-repeat;
}

// Layer
.layer {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

.text-wrapper {
	max-width: 572px;
	width: 100%;
	padding: 30px 15px;
}


.list-styled {
	margin: 0;
	padding: 0;
	list-style-type: disc;
	padding-left: 15px;
	color: $light-gray;

	@extend .p;
}

.bar {
	border-bottom: 5px solid $primary-accent;
}


// Inna koljenosc elementow dla mobile ,inna dla desktop

.windows,.glass  {

	> .flex-item {

		&:nth-of-type(1){
			order: 2;
		}
		&:nth-of-type(2){
			order: 1;
		}

		@media (min-width: 992px) {

			&:nth-of-type(1){
				order: 1;
			}
			&:nth-of-type(2){
				order: 2;
			}
		}
	}
}
