
// Structure page
$columns : 2; //not used yet
$NavWidth : 283px;

//Fonts
$PT-Sans : "PT Sans", sans-serif;
$PT-Caption : "PT Sans Caption', sans-serif";
$Montserrat: "Montserrat", sans-serif;

// Colours
$light-gray : #666;
$dark-gray:  #2e2e2e;
$primary-accent: #48c1ef;
$white: #fff;
$dark-gray-opacity : rgba(46,46,46,0.3);

//Input colors
$input-gray: #b5b5b5;

// Images
$home1-image: "../images/compressed/home-1.jpg";
$home2-image: "../images/compressed/home-2.jpg";
$door-image : "../images/compressed/door.jpg";
$window-image: "../images/compressed/window.jpg";
$taras-image: "../images/compressed/taras.jpg";
$glass-image: "../images/compressed/glass.jpg";
$garden-image: "../images/compressed/garden.jpg";
