
// SECTION CREATIVE DESIGNS
.creative-design {
	background-color: $dirty-white;
	text-align: left;
	.box {
		margin-top: 7%;
		
		@media #{$M} {margin-top: 3%;}
		@media #{$L} {margin-top: 5%;}
		@media #{$XL} {margin-top: 8%;}
	}
	i.fa {
		position: absolute;
		left: 0;
		top: 0;
		background: $light-cyan;
		text-align: center;
		color: $white;
		@include icon-ctrl (60px, 150%);
		@include borderRadius(100%);
		
		@media #{$XL} { @include icon-ctrl(65px,150%); }
	}
	.description h6 {
		margin: 0px;
		font-size: 12px;
	}
} //creative-design
.skill-text {
	font-size: 12px;
	
	@media #{$XS}{ font-size: 13px;}
	@media #{$S}{ font-size: 14px;}
	@media #{$M}{ font-size: 12px;}
	@media #{$L}{ font-size: 13px;}
	@media #{$XL}{ font-size: 14px;}
}
.loading-container {
	max-width: 550px;
	height: 35px;
	margin-bottom: 3%;
	overflow: hidden;
	
	@media #{$M} { margin-bottom: 2%;}
	@media #{$L} { margin-bottom: 3%;}
	@media #{$XL} { height: 40px;}
}
.skills {
	padding: 5% 0;
	
	@media #{$M}{ padding: 4% 0; }
	@media #{$XL}{ padding: 5% 0; }
}
.skill-header {
	font-size: 15px;
	margin-top: 0;
	
	@media #{$XS} { font-size: 16px; }
	@media #{$S} { font-size: 18px; }
	@media #{$M} { font-size: 16px; }
	@media #{$L} { font-size: 17px; }
	@media #{$XL} { font-size: 18px; }
}
.skill-title {
	text-align: left;
	width: 80%;
}
.skill-percent {
	text-align: right;
	width: 20%;
}
.loading {
	width: 100%;
	height: 10px;
	position: relative;
	top: 25px;
	
	@media #{$XL} { top: 30px; }
}
.percent-loading {
	position: absolute;
	height: 100%;
	background: $light-cyan;
	@include borderRadius(3px);
}
.label {
	position: relative;
	top: -200%;
	
	@media #{$XL} { top: -250%;}
	
	> div {
		float: left;
	}
	p {
		margin: 0;
		font-size: 11px;
		text-transform: uppercase;
//		font-weight: 600;
		
		@media #{$XS} { font-size: 12px;}
		@media #{$S} { font-size: 13px;}
		@media #{$M} { font-size: 11px;}
		@media #{$L} { font-size: 12px;}
		@media #{$XL} { font-size: 13px;}
	}
} // label
.image-1,
.image-2 {
	display: none;
	
	@media #{$S} { display: block;}
}
#design {
	width: 80%;
}
#development {
	width: 35%;
}
#team-work {
	width: 75%;
}
#photography {
	width: 99%;
}

// KEYFRAMES
.js-percent-loading {
	width: 0%;
	@include keyframe(load){
  		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}
	@include animation (load,1.0s,ease-out,0s,forwards,paused);	
}
.js-label {
	opacity: 0;
	@include keyframe(fadeIn){
  		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@include animation (fadeIn,.5s,ease-in-out,1.1s,forwards,paused);
}


	

	
